@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .container {
        max-width: 930px;
    }
    .hero_hollow {
        color: #FFF;
        background: #00A0C1;;
    }
    .hero_card {
        padding: 22px 0 23px 25px;
    }
    .hero_sm_title {
        font-size: 22px;
    }
    .reason {
        padding: 163px 0 50px;
    }
    .practice .row {
        flex-wrap: wrap;
        gap: 0;
    }
    .practice .col-3 {
        width: 50%;
        padding: 0 20px 20px;
    }
    .practice_img {
        width: 100%;
    }
    .practice_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .practice_content {
        height: auto;
    }
    .about_video {
        width: 519px;
        height: 420px;
    }
    .about_content {
        padding-top: 0;
    }
    .clients_top svg {
        width: 130px;
    }
    .clients_form {
        width: 906px;
    }
    .contacts_grid {
        width: 940px;
    }
    .footer_middle {
        padding: 31px 0 52px;
    }
}
@media (max-width: 821px) {
    .container {
        max-width: 765px;
    }
    .section_desc {
        font-size: 17px;
    }
    .hero .row {
        flex-wrap: wrap;
        bottom: -75px;
        row-gap: 30px;
    }

    .hero .col-4 {
        width: 100%;
    }

    .hero_sm_title {
        font-size: 30px;
    }

    .hero_sm_desc {
        font-size: 20px;
        margin: 20px 0;
    }

    .hero_sm_desc br {
        display: none;
    }

    .hero_card {
        padding: 33px 0 20px 48px;
    }

    .hero_card svg {
        width: 60px;
        height: 60px;
    }

    .reason .row {
        flex-wrap: wrap;
    }

    .reason .col-3 {
        width: 47%;
    }
    .about_flex {
        flex-direction: column;
    }
    .about_video {
        width: 100%;
        height: 475px;
        margin-bottom: 30px;
    }
    .about_content {
        width: 100%;
    }
    .about_content .d-flex{
        width: 100%;
        justify-content: flex-start;
    }
    .about_sm_title {
        font-size: 25px;
    }
    .about_sm_desc {
        font-size: 19px;
    }
    .clients_top svg {
        width: 99px;
    }
    .clients_form {
        width: 760px;
    }
    .clients_title {
        font-size: 19px;
    }
    .clients_inp {
        width: 285px;
    }
    .contacts_grid {
        width: 785px;
    }
    .footer_middle {
        height: auto;
    }
    .footer_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 41px;
    }
}

@media (max-width: 769px) {
    .hero {
        height: 120vh;
        background: url("../images/hero-bg.png")no-repeat left bottom/cover;
    }
    .hero .row {
        width: 97%;
        bottom: -66px;
    }
    .container {
        max-width: 690px;
    }
    .hero_sm_title {
        font-size: 27px;
    }
    .hero_sm_desc {
        font-size: 18px;
    }
    .clients_top svg {
        width: 90px;
    }
    .clients_form {
        width: 715px;
    }
    .clients_title {
        font-size: 18px;
    }
    .clients_inp {
        width: 268px;
        height: 52px;
    }
    .clients_btn {
        height: 52px;
    }
    .contacts_grid {
        width: 725px;
    }
    .contacts_mail {
        font-size: 13px;
    }
    .footer_about_title {
        font-size: 21px;
    }
}
@media (max-width: 541px) {
    .container {
        max-width: 470px;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .section_title {
        font-size: 37px;
    }
    .header .container {
        justify-content: space-between;
    }
    .header_nav {
         display: none;
     }
    .header_burger {
        display: block;
    }
    .header_burger svg {
        margin-right: 32px;
    }
    .burger_menu {
        position: relative;
        width: 23px;
        height: 2px;
        background: #737373;
        top: -22.5px;
        right: 2px;
        margin-left: 122px;
    }
    .burger_menu::before {
        content: "";
        position: absolute;
        top: 6px;
        bottom: 0;
        right: 0;
        width: 17px;
        height: 2px;
        background: #737373;
    }
    .burger_menu::after {
        content: "";
        position: absolute;
        top: 12px;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 2px;
        background: #737373;
    }

    .hero {
        background: url(../images/hero-bg.png)no-repeat center/cover;
        height: 172vh;
    }
    .hero .row {
        width: 95%;
        bottom: -37px;
    }
    .hero_title {
        font-size: 42px;
    }
    .hero_card {
        padding: 24px 0 28px 25px;
    }
    .hero_card svg {
        width: 50px;
        height: 50px;
    }
    .hero_sm_title {
        font-size: 25px;
    }
    .hero_sm_desc {
        font-size: 16px;
    }
    .reason .col-3 {
        width: 60%;
    }
    .practice {
        padding: 63px 0 60px;
    }
    .practice .col-3 {
        width: 80%;
        padding: 25px 20px 20px;
    }
    .practice_sm_title {
        font-size: 17px;
    }
    .section_desc {
        font-size: 14px;
    }
    .about_desc {
        margin: 15px auto 65px;
    }
    .about_sm_title {
        font-size: 19px;
    }
    .about_sm_desc {
        font-size: 16px;
    }
    .clients_top {
        padding: 80px 0 170px;
        height: 100%;
    }
    .clients_top svg {
        width: 300px;
        height: inherit;
    }
    .clients_grid {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-row-gap: 60px;
        height: 100%
    }
    .clients_form {
        bottom: -40px;
        width: 540px;
        height: 212px;
        padding: 30px 78px;
        flex-direction: column;
    }
    .clients_bottom {
        position: absolute;
    }
    .clients_title {
        font-size: 27px;
        text-align: center;
    }
    .contacts {
        padding: 180px 0 130px;
    }
    .contacts_desc {
        margin: 10px auto 65px;
    }
    .contacts_grid .grid_col-4 {
        justify-content: center;
    }
    .contacts_card {
        height: 393px;
    }
    .contacts_grid {
        width: 450px;
        height: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .footer_top .container {
        height: 100%;
        padding: 40px 60px;
        flex-direction: column;
        align-items: start;

    }
    .footer_about_desc {
        margin-bottom: 50px;
    }
    .footer_about_title {
        font-size: 26px;
        width: 270px;
    }
    .footer_grid {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        padding: 0 60px;
    }
    .footer_bottom {
        height: 100%;
    }
    .footer_bottom_desc {
        margin-bottom: 50px;
    }
    .footer_bottom .container {
        flex-direction: column;
        padding: 35px 57px 80px;
        align-items: start;
    }
    .footer_link svg {
        margin-left: 0;
    }
    .footer_icon {
       margin-left: 0;
        margin-right: 20px;
    }



}
